---
title: Tattoo portfolios
artist: vinnie-caldas
img-folder: pg-portfolio
layout: default
permalink: /portfolios/
---
<div class="container">
  <div class="d-flex flex-column flex-sm-row justify-content-start justify-content-sm-between align-itens-sm-strech align-itens-sm-end">
    <div class="container-fluid">
      <h2>Vinnie's portfolio</h2>
      <p class="lead">Tattoo Artist</p>
    </div>
    <!-- List of the guest artista portfolio -->
    <div class="container-fluid guest-artists align-self-end text-right">
      <p class="guest-text small">Guest artists'portfolios:</p>
      <a class="guest-btn btn btn-primary" href="{{ site.baseurl }}/portfolios/portfolios-guest-artists">Click here</a>
      <br>
    </div>
  </div>

  <!-- Gallery of photos -->
  <span class="small mute text-center">Click the images to enlarge</span>
  <div class="gallery d-flex flex-row flex-wrap justify-content-center">
  <!-- Only tattoos photos from [page.artist] -->
  {% assign photos = site.data.photos-portfolio[page.artist] %}
    {% for photo in photos %}
      {% include _components/imgs-gallery-vinnie-caldas.html %}
    {% endfor %}
  </div>
</div>
