---
title: Guest artists' portfolios
layout: default
permalink: /portfolios/portfolios-guest-artists/
---
{% assign guestArtists = site.tattoo-artists %}
{% assign todaysDate = site.time | date: '%s' %}
<div class="container">
  <div class="d-flex flex-column flex-lg-row justify-content-start justify-content-lg-between align-itens-strech align-itens-lg-end">
    <div class="container-fluid">
      <h2>{{ page.title }}</h2>
      <p class="lead">Check out the work of our collaborators</p>
      <!-- buttons for Coming soon, Here now, and Were here -->
      <div class="container-fluid guest-artists align-self-start text-left">
        <a class="guest-btn btn btn-primary" href="{{ site.baseurl }}/portfolio/portfolio-guest-artists/#hereNow">Here now</a>
        <a class="guest-btn btn btn-primary" href="{{ site.baseurl }}/portfolio/portfolio-guest-artists/#comingsoon">Coming soon</a>
        <a class="guest-btn btn btn-primary" href="{{ site.baseurl }}/portfolio/portfolio-guest-artists/#previousArtists">Previous artists</a>
      </div>
    </div>
    <div class="container-fluid guest-artists align-self-end text-right">
      <p class="guest-text small">Resident artists'portfolio:</p>
      <a class="guest-btn btn btn-primary" href="{{ site.baseurl }}/portfolio/">Vinnie Caldas</a>
      <br>
    </div>
  </div>
  <div class="container-fluid d-flex flex-column justify-content-start align-itens-center m-3">
    <!-- Book an appointment -->
    <p class="small mute">If you'd like an appointment, call (
      <a href="tel:{{ site.contact-data.phone }}">
      {{ site.contact-data.phone }}
      </a>)
      , e-mail (
      <a href="mailto:{{ site.contact-data.email }}?subject={{ site.contact-data.email-subject }}">   {{ site.contact-data.email }}
    </a>)
    or come by the shop</p>
  </div>

  <br>
  <hr class="vertical-line">
  <br>

  <div class="container-fluid d-flex flex-column justify-content-start align-itens-center">
    <!-- Here Now -->
    <h3 id="hereNow" class="lead">Guest artists here now</h3>
    {% for guestArtist in guestArtists %}
    {% assign startDate = guestArtist.start-date | date: '%s' %}
    {% assign endDate = guestArtist.end-date | date: '%s' %}
      {% if startDate <= todaysDate and endDate >= todaysDate %}
      <br>
        <h4>{{ guestArtist.name }}</h4>
        <p class="small mute">{{ guestArtist.content }}
          <span>follow at <a href="{{ guestArtist.link }}">{{ guestArtist.link }}</a></span>
        </p>

        <p class="mute">Here since <strong>{{ startDate | date: "%-d %B %Y" }}</strong></p>
        <!-- Gallery of photos -->
        <span class="small mute text-center">Click the images to enlarge</span>
        <div class="gallery d-flex flex-row flex-wrap justify-content-center">
        <!-- Only tattoos photos from [page.artist] -->
        {% assign photos = site.data.photos-portfolio[ guestArtist.tag-name] %}
        {% for photo in photos %}
          {% include _components/imgs-gallery-guest-artists.html %}
        {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <br>
  <hr class="vertical-line">
  <br>

  <div class="container-fluid d-flex flex-column justify-content-start align-itens-center">
    <!-- Coming soon -->
    <h3 id="comingsoon" class="lead">Guest artists coming soon</h3>
    {% for guestArtist in guestArtists %}
    {% assign startDate = guestArtist.start-date | date: '%s' %}

      {% if startDate >= todaysDate and guestArtist.coming != blank or guestArtist.coming != "" %}
      <br>
      <h4>{{ guestArtist.name }}</h4>
      <p class="small mute">{{ guestArtist.content }}
        <span>follow at <a href="{{ guestArtist.link }}">{{ guestArtist.link }}</a></span>
      </p>

        {% if guestArtist.coming != blank or guestArtist.coming != "" %}
          <p>Coming {{ guestArtist.coming }}
        {% endif %}

        {% if startDate >= todaysDate or  guestArtist.startDate != blank %}
          <span class="small mute">(Expecting to arrive on <strong>{{ startDate | date: "%-d %B %Y" }})</strong></span>
        </p>
        {% endif %}

        <!-- Gallery of photos -->
        <span class="small mute text-center">Click the images to enlarge</span>
        <div class="gallery d-flex flex-row flex-wrap justify-content-center">
        <!-- Only tattoos photos from [page.artist] -->
        {% assign photos = site.data.photos-portfolio[ guestArtist.tag-name] %}
        {% for photo in photos %}
          {% include _components/imgs-gallery-guest-artists.html %}
        {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <br>
  <hr class="vertical-line">
  <br>

  <div class="container-fluid d-flex flex-column justify-content-start align-itens-center">
    <!-- previous artists -->
    <h3 id="previousArtists" class="lead"> Guest artists that pass by our parlour</h3>
    {% for guestArtist in guestArtists %}
    {% assign startDate = guestArtist.start-date | date: '%s' %}
    {% assign endDate = guestArtist.end-date | date: '%s' %}
      {% if endDate <= todaysDate %}
      <br>
      <h4>{{ guestArtist.name }}</h4>
      <p class="small mute">{{ guestArtist.content }}
        <span>follow at <a href="{{ guestArtist.link }}">{{ guestArtist.link }}</a></span>
      </p>

        <p class="small mute">Was here from  <strong>{{ startDate | date: "%-d %B %Y" }}</strong> to <strong>{{ endDate | date: "%-d %B %Y" }}</strong></p>
        <!-- Gallery of photos -->
        <span class="small mute text-center">Click the images to enlarge</span>
        <div class="gallery d-flex flex-row flex-wrap justify-content-center">
        <!-- Only tattoos photos from [page.artist] -->
        {% assign photos = site.data.photos-portfolio[ guestArtist.tag-name] %}
        {% for photo in photos %}
          {% include _components/imgs-gallery-guest-artists.html %}
        {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>
