---
title: Around the world
img-folder: pg-around-the-world
layout: default
permalink: /around-the-world/
---
<div class="container">
  <div>
    <h2>Vinnie's travels working as a guest artist </h2>
    <p class="lead">Tattoo Artist</p>
  </div>
  <!-- Gallery of photos -->
  <span class="small mute text-center">Click the images to enlarge</span>
  <div class="gallery d-flex flex-row flex-wrap justify-content-center">
  {% assign photos = site.data.photos-around-the-world %}
    {% for photo in photos %}
      {% include _components/imgs-gallery.html %}
    {% endfor %}
  </div>
</div>
