---
title: Tattoo Portfolio
artist: vinnie-caldas
img-folder: pg-portfolio
layout: default
permalink: /portfolio/
---
<div class="container">
  <div class="d-flex flex-column flex-sm-row justify-content-start justify-content-sm-between align-itens-sm-strech align-itens-sm-end">
    <div class="container-fluid">
      <h2>Vinnie's portfolio</h2>
      <p class="lead">Tattoo Artist</p>
    </div>
    <!-- List of the guest artista portfolio -->
    {% include _components/guest-artists-portfolio.html %}
  </div>
  <!-- Tattoo Styles -->
  {% include _components/tattoo-styles.html %}

  <!-- Gallery of photos -->
  <div class="gallery d-flex flex-row flex-wrap justify-content-center">
  <!-- Only tattoos photos from [page.artist] -->
  {% assign photos = site.data.photos-portfolio[page.artist] %}
    {% for photo in photos %}
      {% include _components/imgs-gallery.html %}
    {% endfor %}
  </div>
</div>
