---
title: Saulo's portfolio
artist: saulo-brandao
img-folder: pg-portfolio
layout: default
permalink: /portfolio/saulo-brandao/
---
<div class="container">
  <div class="d-flex flex-column flex-sm-row justify-content-start justify-content-sm-between align-itens-sm-strech align-itens-sm-end">
    <div class="container-fluid">
      <h2>{{ page.title }}</h2>
      <p class="lead">Tattoo Guest Artist</p>
    </div>
    <div class="container-fluid guest-artists align-self-end text-right">
      <p class="guest-text small">Resident artists'portfolio:</p>
      <a class="guest-btn btn btn-primary" href="/portfolio/">Vinnie Caldas</a>
      <br>
    </div>
  </div>

  <!-- Tattoo Styles -->
  {% include _components/tattoo-styles.html %}

  <!-- Gallery of photos -->
  <div class="gallery d-flex flex-row flex-wrap justify-content-center">
  <!-- Only tattoos photos from [page.artist] -->
  {% assign photos = site.data.photos-portfolio[page.artist] %}
    {% for photo in photos %}
      {% include _components/imgs-gallery.html %}
    {% endfor %}
  </div>

</div>
