/***********************************************************/
/* Variables of STYLES CROSS ALL PAGES------------------- */
$body-max-width-xs: 543px;
$body-max-width-sm: 767px;
$body-max-width-md: 991px;
$body-max-width-lg: 1199px;
$body-max-width-xl: 1499px;
$body-max-width-xxl: 1950px;

/* Media Queries Breaking points*/
$media-breakpoint-xs: 300px;
$media-breakpoint-sm: 544px; //34em
$media-breakpoint-md: 768px; //48em
$media-breakpoint-lg: 992px; //62em
$media-breakpoint-xl: 1200px; //75em
$media-breakpoint-xxl: 1500px; // >93.75em
