/* Colors Variables*/
$black: #111111;
$black-rgba: rgba(1, 1, 1, 0.5);
$white: #ffffff;
$white-rgba: rgba(255, 255, 255, 0.8);
$light-grey: #f2f2f2;
$light-grey-rgba: rgba(242, 242, 242, 0.4);
$grey: #b9b9b9;
$dark-grey: #4e4e4e;
$primary-color: #a88d2e;
$primary-rgba-color: rgba(168, 141, 46, 0.5);
$primary-semi-transparent: rgba(244, 153, 192, 0.1);
$accent-color: #2EA88D;
$accent-rgba-color: rgba(46,168,141,0.1);

$base-text-color: $dark-grey;
