/* Import Custom Fonts --------------------*/

/* Fonts Variables*/
$font-stack: 'Quattrocento Sans', sans-serif !default;
$font-clean: 'Open Sans', sans-serif !default;

/*----------------*/
$font-size-root: 18px !default;
$font-size-base-xl: 1.04em !default;
$font-size-base-lg: 1.02em !default;
$font-size-base-md: 1em !default;
$font-size-base-sm: 1.05em !default;
$font-size-base-xs: 1em !default;
$font-size-lead-xl: 1.2em !default;
$font-size-lead-lg: 1.18em !default;
$font-size-lead-md: 1.16em !default;
$font-size-lead-sm: 1.15em !default;
$font-size-lead-xs: 1.2em !default;
$font-size-small-xl: 0.8em !default;
$font-size-small-lg: 0.75em !default;
$font-size-small-md: 0.7em !default;
$font-size-small-sm: 0.73em !default;
$font-size-small-xs: 0.72em !default;
$font-size-h1-xl: 3em !default;
$font-size-h1-lg: 2.95em !default;
$font-size-h1-md: 2.9em !default;
$font-size-h1-sm: 2.85em !default;
$font-size-h1-xs: 2.8em !default;
$font-size-h2-xl: 1.8em !default;
$font-size-h2-lg: 1.75em !default;
$font-size-h2-md: 1.7em !default;
$font-size-h2-sm: 1.65em !default;
$font-size-h2-xs: 1.6em !default;
$font-size-h3-xl: 1.2em !default;
$font-size-h3-lg: 1.15em !default;
$font-size-h3-md: 1.05em !default;
$font-size-h3-sm: 1.15em !default;
$font-size-h3-xs: 1.13em !default;
$font-size-h4-xl: 1.1em !default;
$font-size-h4-lg: 1.05em !default;
$font-size-h4-md: 0.85em !default;
$font-size-h4-sm: 1.05em !default;
$font-size-h4-xs: 1.03em !default;
$font-size-brand-xl: 1.35em !default;
$font-size-brand-lg: 1.3em !default;
$font-size-brand-md: 1.2em !default;
$font-size-brand-sm: 1.25em !default;
$font-size-brand-xs: 1.2em !default;
$font-size-address: 0.8em !default;
$font-line-height-address: 0.95em !default;
/*----------------*/
