<div class="container-fluid bg-dark d-flex flex-column flex-lg-row justify-content-center justify-content-lg-around align-items-center">

  <!-- Copyright -->
  <div class="copyright d-flex flex-column flex-md-row justify-content-center justify-content-md-around align-items-center m-2">
    <span class="copyright-text d-flex justify-content-center align-items-center">Made with
      <i class="copyright-icon fas fa-heart" aria-hidden="true"><span class="sr-only">heart's icon</span></i>
       by
      <a href="{{ site.authorweb}}" class="copyright-link">{{ site.author}}</a>
    </span>
    <span class="copyright-text d-flex justify-content-center align-items-center">
      <span class="copyright-icon d-none d-md-inline"> – </span>
    </span>
    <span class="copyright-text d-flex justify-content-center align-items-center text-center">Copyright © 2019 Body Canvas Tattoo. All rights reserved.
    </span>
  </div>

  <!-- Social Media icons -->
  <div class="social-media-container">
    {% include _components/social-media-icons.html %}
  </div>

  <!--  Navbar -->
  <nav class="navbar navbar-dark bg-dark d-flex flex-wrap">
    <!-- NavTabs-->
    <ul class="navbar-nav d-flex flex-row justify-content-between align-items-center">
      <!-- Home page -->
      <li {% if page.permalink == "/" or page.permalink == "" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{ site.baseurl }}/">Home
          {% if page.permalink == "/" or page.permalink == "" %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
      <!-- About page -->
      <li {% if page.permalink == "/about/" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{ site.baseurl }}/about/">About
          {% if page.permalink == "/about/" %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
      <!-- Portfolios page -->
      <li {% if page.permalink == "/portfolio/" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{ site.baseurl }}/portfolios/">Portfolio
          {% if page.permalink == "/portfolios/" %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
      <!-- Drawing & Digital page -->
      <li {% if page.permalink == "/drawing-digital/" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{ site.baseurl }}/drawing-digital/">Drawing
          {% if page.permalink == "/drawing-digital/" %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
      <!-- Tattoo information page -->
      <li {% if page.permalink == "/tattoo-information/" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{ site.baseurl }}/tattoo-information/">Tattoo Info
          {% if page.permalink == "/tattoo-information/" %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
      <!-- Around the world page -->
      <li {% if page.permalink == "/around-the-world/" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{ site.baseurl }}/around-the-world/">Around the world
          {% if page.permalink == "/around-the-world/" %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
    </ul>
  </nav>
</div>
