  <div class="img-gallery col-md-6 col-lg-4 col-xl-3">
    <div class="img-container d-flex justify-content-center align-items-center">
      <a class="img-inside" href="{{ site.baseurl }}/{{ site.sass.sass_dir }}/images/pg-portfolio/original/{{ guestArtist.tag-name }}/{{ photo.img-file }}">
        <img class="" src="{{ site.baseurl }}/{{ site.sass.sass_dir }}/images/pg-portfolio/sm/{{ guestArtist.tag-name }}/{{ photo.img-file }}" alt="{{ photo.description }}">
        <div class="img-description d-flex justify-content-center align-items-center">
          <div class="img-text">
            {{ photo.description }}
            <br>
            <span class="small">(click to enlarge)</span>
          </div>
        </div>
      </a>
    </div>
  </div>
