---
layout: default
---
<div class="container">
  <div class="container-fluid">
    <h2>Vinnie's Resume / CV</h2>
    <p class="lead">Tattoo Artist</p>

    <div class="row d-flex flex-column flex-md-row justify-content-start justify-content-md-between align-items-center align-items-md-start">
      <div class="col-12 col-md-7 col-xl-8">
        {{ content }}
      </div>
      <div class="col-12 col-md-5 col-xl-4">
        <!-- Gallery of photos -->
        <span class="small mute text-center">Click the images to enlarge</span>
        <div class="gallery d-flex flex-wrap justify-content-center align-items-center">
        {% assign photos = site.data.photos-resume %}
          {% for photo in photos %}
          <div class="img-gallery">
            <div class="img-container img-container-cv-pg">
              <a class="img-inside img-inside-cv-pg d-flex justify-content-center align-items-center" href="{{ site.baseurl }}/{{ site.sass.sass_dir }}/images/{{ page.img-folder }}/original/{{ photo.img-file }}" alt="{{ photo.description }}">
                <img class="" src="{{ site.baseurl }}/{{ site.sass.sass_dir }}/images/{{ page.img-folder }}/sm/{{ photo.img-file }}" alt="{{ photo.description }}">
                <div class="img-description img-description-cv-pg d-flex justify-content-center align-items-center">
                  <div class="img-text">
                    {{ photo.description }}
                    <br>
                    <span class="small">(click to enlarge)</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
